/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Initial state: object is hidden */
.animate {
    opacity: 0;
    transform: translateY(-20px); /* Move the object up */
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  /* Animated state: object becomes visible */
  .animate.show {
    opacity: 1;
    transform: translateY(0);
  }
  

/*Scrollbar*/
body::-webkit-scrollbar {
    width: 16px; 
}

body::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}

body::-webkit-scrollbar-thumb {
    background-color: #008080; 
    border-radius: 10px; 
    border: 3px solid #f1f1f1; 
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #005f5f; 
}

/* Navbar Styling */
.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 0px;
    box-shadow: -5px 10px 10px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    z-index: 100;
    border-radius: 30px;
    transition: all 0.3s ease; 
}

.navbar:hover {
    transition: all 0.4s ease;
    margin-bottom: 15px; 
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.2); 

}

.navbar.smaller {
    padding: 10px 0px;
    margin-top: 10px;
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 70%;
}



/* Navbar Container */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}



.navbar-brand {
    color:#008080;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
    text-shadow: 3px 3px 5px rgba(0, 0, 0,0.1); 
    
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.navbar-menu li {
    display: inline;
}

.navbar-menu a {
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: #000;
}

/* Mobile Menu Button */
.menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: #555;
    cursor: pointer;
}

#loginstyle {
    border: 1px solid none; 
    width:80px;
    margin-top: -5px; 
    margin-right: -45px;
    height: 35px;          
    border-radius: 12px;
    font-size:125%; 
    padding-top:9px; 
    padding-left: 10px;
    font-weight: bold;           
    box-shadow: -3px 5px 15px 3px rgba(0, 0, 0, 0.2); 
    background-color: #f3f3f3; 
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
    transition: background-color 0.3s ease-in, transform 0.3s ease-in;

}
#loginstyle:hover {
    background-color: #FFFFFF; /* Darker teal on hover */
    color: #2C3E50 ;
    transform: scale(1.05); /* Slightly enlarge the button */

}

#registerstyle {
    color: white;
    border: 1px solid #008080; 
    width:120px;
    text-align: center; 
    margin-top: -9.5px; 
    height: 40px;          
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    font-size:130%; 
    padding-top:12px; 
    padding-right: 10px;font-weight: bold;           
    box-shadow: -3px 5px 15px 5px rgba(0, 0, 0, 0.1); 
    background-color: #008080; 
    cursor: pointer;
    transition: background-color 0.3s ease-in, transform 0.3s ease-in;

}
#registerstyle:hover {
    background-color: #005f5f; 
    transform: scale(1.05);
}


/* Header structures's style */

#header-div {
  
    width:900px;
    height:800px;
    margin-top: 100px;
    margin-left: 125px;
    border-radius: 25px;
    background-color:#005f5f;
    border: 1px solid #005f5f;
    box-shadow: 10px 10px 10px 0.5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in;
}

.pa-1 {
    color: white;
    font-size: 250%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 150px;
    padding-top: 150px;
    font-weight: bolder;
    text-shadow: 3px 3px 5px rgba(0, 0, 0,0.5); 
}

.pa-2 {
    color: white;
    font-size:24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 150px;
    padding-top: 100px;
    font-weight: bolder;
    text-shadow: 3px 3px 5px rgba(0, 0, 0,0.5); 
    
}

.my-button {
    width: 400px;
    height: 40px;
    margin-top: 30px;
    margin-left: 145px;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2C3E50 ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.my-button:hover {
    color: black;
    background-color:#FFFFFF;
    
    transform: translateY(-2px);
}

.my-button:active {
    transform: translateY(0);
}

.savings-pig {
   margin-top: -700px;
   margin-left: 800px;
   width: 450px;
   height:450px;
}
.responsive-image {
    max-width: 100%; 
    height: auto; 
  
}

.man-pc {
    margin-top:-400px;
    margin-left: 1250px;
    width: 500px;
    height: 500px;
}
.explore-analystics {
    width: 300px;
    height: 40px;
    margin-top: 0px;
    margin-left: 1350px;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #008080;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.explore-analystics:hover {
    color: white;
    background-color:#005f5f;
    
    transform: translateY(-2px);
}

.explore-analystics:active {
    transform: translateY(0);
}

/* Third island in page style */

.mysavingspal-logos {
    width:1700px;
    height:300px;
    margin-top: 200px;
    margin-left: 125px;
    border-radius: 25px;
    background-color:white;
    border: 1px solid white;
    box-shadow: 10px 10px 10px 0.5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in;
}


 /* 4th section */

 #fourth-section {
    width:1700px;
    height:600px;
    margin-top: 150px;
    margin-left: 125px;
    border-radius: 25px;
    background-color:#005f5f;
    border: 1px solid #005f5f;
    box-shadow: 10px 10px 10px 0.5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in;
}

.pa-1-2 {
    color: white;
    font-size: 250%;
    padding-left: 625px;
    padding-top: 75px;
    font-weight: bolder;
    text-shadow: 3px 3px 5px rgba(0, 0, 0,0.5); 
}

.pa-2-2 {
    color: white;
    font-size:24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 550px;
    padding-top: 00px;
    font-weight: 500;
    text-shadow: 3px 3px 5px rgba(0, 0, 0,0.5); 
    
}


.my-button2 {
    width: 400px;
    height: 40px;
    margin-top: 30px;
    margin-left: 625px;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2C3E50 ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.my-button2:hover {
    color: black;
    background-color:#FFFFFF;
    
    transform: translateY(-2px);
}

.my-button2:active {
    transform: translateY(0);
}



 
@keyframes outline {
    0% { text-shadow: 0 0 5px black; }
    100% { text-shadow: 0 0 20px black; }
}
.outline {
    animation: outline 2s infinite;
}

.span-logos {
    color:#005f5f;
    font-size:25px;
    padding-left: 20px;
    font-weight: bold;
    text-shadow: 0 0 1px black;
}


/* pig div text */
.pig-div-txt {
    margin-top:-500px;
    margin-left: 900px;
    width:700px;
    height: 400px;
}

.learn-more {
    width: 300px;
    height: 40px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #008080;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.learn-more:hover {
    color: white;
    background-color:#005f5f;
    
    transform: translateY(-2px);
}

.learn-more:active {
    transform: translateY(0);
}


/* ideas */
.ideas {
    margin-top:150px;
    margin-left: 250px;
    width:700px;
    height: 400px;
}

.ideas-logo {
    margin-top: -550px;
    margin-left: 950px;
}


.pa-3 {
    color: #008080;
    font-size: 300%;
    padding-left: 525px;
    padding-top: 150px;
    font-weight: bolder;
    text-shadow: 3px 3px 5px rgba(0, 0, 0,0.3); 
}

.pa-2-1 {
    color: black;
    font-size:24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 600px;
    padding-top: -250px;
    font-weight: 400;
    text-shadow: 3px 3px 5px rgba(0, 0, 0,0.2); 
    
}

.my-button3 {
    width: 400px;
    height: 40px;
    margin-top: 25px;
    margin-left: 750px;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2C3E50 ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.my-button3:hover {
    color: white;
    background-color:#008080;
    
    transform: translateY(-2px);
}

.my-button3:active {
    transform: translateY(0);
}

swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  swiper-slide img {
    display: block;
    width: 100%;
  }


/* feedback rating users */

.reviews {
    display: flex;
    justify-content: space-around;
    background-color: #f4f4f4;
    padding: 50px;
    width:80%;
    height: auto;
    margin-left: 150px;
    margin-top: 150px;
  }
  
  .review {
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .stars {
    font-size: 20px;
    color: #ffcc00;
  }
  
  .review-text {
    font-size: 16px;
    color: #666;
    margin: 20px 0;
  }
  
  .author {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .author p {
    font-size: 14px;
    color: #333;
  }
  
  .author span {
    font-size: 12px;
    color: #999;
  }
  
  

/* fifth section  */

#fifth-section {
   
    width:1700px;
    height:600px;
    margin-top: 100px;
    margin-left: 125px;
    border-radius: 25px;
    background-color:#005f5f;
    border: 1px solid #005f5f;
    box-shadow: 10px 10px 10px 0.5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in;
}

.pa-4 {
    color: white;
    font-size: 250%;
    padding-left: 225px;
    padding-top: 75px;
    font-weight: bolder;
    text-shadow: 3px 3px 5px rgba(0, 0, 0,0.5); 
}

.pa-4-1 {
    color: white;
    font-size:24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 225px;
    padding-top: -200px;
    font-weight: 400;
    text-shadow: 3px 3px 5px rgba(0, 0, 0,0.5); 
    
}


.my-button4 {
    width: 400px;
    height: 40px;
    margin-top: 30px;
    margin-left: 225px;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white ;
    color: #2C3E50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.my-button4:hover {
    color: white;
    background-color:#2C3E50;
    
    transform: translateY(-2px);
}

.my-button4:active {
    transform: translateY(0);
}


.imgdiv5 {
     margin-top: -200px;
     margin-left: 900px;
}

.people {
    width: 600px;
    height: 400px;
    margin-top: -500px;
     margin-left: 900px;
     box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.3);
}

/* social logos to connect  */

.container1 {
    margin-top:50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
}

/* Text Section */
.text-section1 {
    max-width: 40%;
}

.text-section1 h1 {
    margin-top:50px;
    font-size: 3rem;
    color: #01796f;
    margin-bottom: 20px;
}

.text-section1 p {
    padding-top:35px;
    font-size: 1.50rem;
    color: #666;
    margin-bottom: 30px;
}

.text-section1 button {
    margin-top:150px;
    font-size: 1.25rem;
    padding: 10px 20px;
    background-color: #01796f;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.text-section1 button:hover {
    background-color: #015c50;
}

/* Icons Section */
.icons-container {
    display: flex;
    gap: 125px; /* Space between the two icon columns */
}

.icon-column {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between each icon in the column */
}

.icon img {
    /* Let images retain their original sizes */
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.icon img:hover {
    transform: scale(1.1);
}


/* try it */

.text-section1 button {
    background-color: #008080;;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.text-section1 button:hover {
    background-color:#005f5f;
}

.icons-section1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


.icon img {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 10px;
}

.icon img:hover {
    background-color: #ccc;
}

.pa-5 {
    color: #008080;
    font-size: 300%;
    padding-left: 790px;
    padding-top: 0px;
    font-weight: bolder;
    text-shadow: 3px 3px 5px rgba(0, 0, 0,0.3); 
}

.pa-5-1 {
    color: black;
    font-size:24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 818px;
    padding-top: -250px;
    font-weight: 400;
    text-shadow: 3px 3px 5px rgba(0, 0, 0,0.2); 
    
}

.my-button5 {
    width: 400px;
    height: 40px;
    margin-top: 100px;
    margin-left: 500px;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2C3E50 ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.my-button6 {
    margin-top: -300px;
    width: 400px;
    height: 40px;
    margin-left: 1050px;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2C3E50 ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.my-button5:hover {
    color: white;
    background-color:#008080;
    
    transform: translateY(-2px);
}

.my-button5:active {
    transform: translateY(0);
}


.my-button6:hover {
    color: white;
    background-color:#008080;
    
    transform: translateY(-2px);
}

.my-button6:active {
    transform: translateY(0);
}

/* fotter */ 


footer {
    background-color: #005f5f; 
    box-shadow: -5px 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 25px 50px;
    position: relative;
    width: 85%;
    height:175px;
    margin: 20px auto;
    text-align: center;
}

footer:hover {
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.2); 
transition: all 0.5s ease; 
}

footer.smaller {
    padding: 10px 0px;
    margin-top: 10px;
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 70%;
    
}

.footer-container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.logo h1 {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.footer-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    gap:10px;
    width: 100px;
    font-size: 23px;
}

.footer-links a:hover {
    color:  white;
    font-size: 170%;
    text-shadow: 2px 6px 8px rgba(0, 0, 0, 0.85);
}

.footer-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login {
    background-color: white;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.3);
    color: #333;
    font-weight: 900;
    width: 300px;
    margin-top: 0px;
}

#login:hover {
    background-color: #2C3E50 ;
    color:white;
    size: 125%;
}

#register {
    background-color: #01796f;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.3);
    margin-top: 25px;
    font-weight: 900;
    width: 300px;
}

#register:hover {
    background-color: white;
    color : black;
}


#h6 {
    font-size: large;
    color: white;
    font-weight: 300;
    padding-left: 50px;
    text-align: left;

}

#last-p {
    color:#2C3E50 ;
    font-size: 125%;
}

#last-div {
    margin-left: -50px;                                                      
    margin-top: 60px;
    width: 600px ;
    height:50px;
}

#last-p1 {
    padding-left:1150px;                                                      
    margin-top: -50px;
    color:#2C3E50 ;
    font-size: 125%;
    width: 500px ;
    height:50px;

}

.portfolio-link {
    color:#2C3E50; 
    text-decoration: none;
}

.portfolio-link:hover {
    color:black;
    text-decoration: underline;
    font-size: 125%;
}



    
/* Responsive nav bar */
@media (max-width: 768px) {
    .navbar {
        width: 90%;
    }

    .navbar.smaller {
        width: 85%;
    }

    .navbar-brand {
        font-size: 24px; 
    }

    .navbar-menu {
        display: none; 
        flex-direction: column;
        gap: 15px;
        text-align: center;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 0;
    }

    .navbar-menu.active {
        display: flex; 
    }

    .menu-toggle {
        display: block; 
    }

    .navbar-menu a {
        font-size: 18px; 
    }
}

@media (max-width: 480px) {
    .navbar-brand {
        font-size: 20px; 
    }

    .navbar-menu a {
        font-size: 16px;
    }

    .navbar {
        padding: 15px 0px;
    }
}

/* Responsive end */




